<div class="hbox bg-light hbox-auto-xs hbox-auto-sm">
  <div class="col " >
    <div style="background:url({{pageData.cover.source}}) center center; background-size:cover">
      <div class="wrapper-lg bg-white-opacity">
        <div class="row m-t">
          <div class="col-sm-7">
            <a href class="thumb-lg pull-left m-r">
              <img src="http://graph.facebook.com/{{pageId}}/picture?width=100" class="img-square">
            </a>
            <div class="clear m-b">
              <div class="m-bb m-t-sm">
                <span class="h3 text-black">{{pageData.name}}</span>
                <p></p>
                <span class="h4 text-black">{{pageData.category}} - {{pageData.likes}} Likes the Page</span>
              </div>
              <p class="m-b">
                <a href="{{pageData.link}}" target="_blank" class="btn btn-sm btn-bg btn-rounded btn-default btn-icon"><i class="fa fa-facebook"></i></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<div class="wrapper bg-white b-b">
      <ul class="nav nav-pills nav-sm">
        <li class="active"><a href >Post</a></li>
        <!--<li><a href>Profile</a></li>
      </ul>
    </div>-->
    <div class="padder wrapper bg-light b-b">      
      <div class="streamline b-l b-info m-l-lg m-b padder-v">
        <div>
          <a class="pull-left thumb-sm bg-light avatar m-l-n-md">
            <img src="http://graph.facebook.com/{{pageId}}/picture?width=100" class="img-circle" alt="...">
          </a>
          <div class="m-l-lg m-b-lg">
            <div class="m-b-xs">
              <a href class="h4">{{pageData.name}}</a>
              <span class="text-muted m-l-sm pull-right">
                now
              </span>
            </div>
            <div>
              <div class="panel panel-default m-t-md m-b-n-sm pos-rlt">
                <form>
                  <textarea class="form-control no-border" rows="3" placeholder="Say something..."></textarea>
                </form>
                <div class="panel-footer bg-light lter">
                  <button class="btn btn-info pull-right btn-sm" ng-click="post()">Post</button>
                  <ul class="nav nav-pills nav-sm">
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div ng-repeat="post in pageData.promotable_posts.data">
          <a class="bg-light pull-left thumb-sm avatar m-l-n-md">
            <img src="http://graph.facebook.com/{{post.from.id}}/picture?type=square" class="img-circle" alt="{{pageData.picture.data.url}}">
          </a>
          <div class="m-l-lg">
            <div class="m-b-xs">
              <div class="h4 ng-binding" ng-hide="post.story == undefined">{{post.story}}</div>
              <span class="text-muted m-l-sm pull-right">
                {{post.created_time | date:'MM/dd/yyyy @ h:mma'}}
              </span>
            </div>
            <div class="m-b">
              <div class="h4" ng-hide="post.story !== undefined">{{post.from.name}} says: "{{post.message}}"</div>
              <img src="{{post.picture}}" class="wrapper-pic img-responsive" ng-hide="post.picture == undefined"
              <div class="m-t-sm">
                <a href class="text-muted m-xs"><i class="fa fa-moon-o" ng-show="{{post.is_published}} === false"></i></a>
                <a href class="text-muted m-xs"><i class="fa fa-sun-o" ng-show="{{post.is_published}} === true"></i></a>
                <a href class="text-muted m-xs"><i class="icon-star"></i> {{pageData.promotable_posts.insights[$index].values[0].value}}</a>
                <!--<a href class="text-muted m-xs"><i class="icon-refresh"></i> 13</a>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>